FIBER_DASHBOARD_IMAGE=ghcr.io/nervosnetwork/fiber-dashboard-backend:latest

POSTGRES_PASSWORD=password
# url can be empty since the network is not online yet
FIBER_MAINNET_RPC_URL=
FIBER_MAINNET_RPC_BEARER_TOKEN=
FIBER_TESTNET_RPC_URL=http://18.163.221.211:8227
FIBER_TESTNET_RPC_BEARER_TOKEN=
CKB_MAINNET_RPC_URL=
CKB_MAINNET_RPC_BEARER_TOKEN=
CKB_TESTNET_RPC_URL=
CKB_TESTNET_RPC_BEARER_TOKEN=
MAINNET_FUNDING_CODE_HASH=
TESTNET_FUNDING_CODE_HASH=
MAINNET_COMMITMENT_CODE_HASH=
TESTNET_COMMITMENT_CODE_HASH=

# for debug
ALLOW_EXIT_ON_PANIC=true
# https://github.com/salvo-rs/salvo/pull/1240
# SALVO_STATUS_ERROR=
